# Секреты
.env
.env.local
.env.*.local

# Зависимости
node_modules/

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Кэш
.cache/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Система
.DS_Store
Thumbs.db
